In [9]:
import os
import pandas as pd
import re

base_dir = "/home/ssahin/Desktop/temp_90ligand/temp_expPDB"
os.chdir(base_dir)  # optional

all_results = []

folder_pattern = re.compile(r'^([A-Z0-9]+)_(\w+)_P(\d+)_dock$')

for uniprot in os.listdir(base_dir):
    uniprot_path = os.path.join(base_dir, uniprot)
    if os.path.isdir(uniprot_path):
        for subfolder in os.listdir(uniprot_path):
            match = folder_pattern.match(subfolder)
            if match:
                uniprot_code, pdbcode, pocket_number = match.groups()
                result_file = os.path.join(uniprot_path, subfolder, 'final_results.csv')
                if os.path.isfile(result_file):
                    df = pd.read_csv(result_file)
                    df['uniprot'] = uniprot_code
                    df['pocket_number'] = pocket_number
                    df['pdbcode'] = pdbcode
                    all_results.append(df)

final_df = pd.concat(all_results, ignore_index=True)

In [10]:
final_df

,Tool1,Tool2,PoseNumber1,PoseNumber2,Score1,Score2,File1,File2,RMSD,uniprot,pocket_number,pdbcode
0,LeDock,Smina,7,7,-4.97,-6.59740,complex_7.pdb,complex_7.pdb,5.460414,P00918,0,3ryj
1,LeDock,Smina,7,11,-4.97,-6.48773,complex_7.pdb,complex_11.pdb,4.923903,P00918,0,3ryj
2,LeDock,Smina,7,8,-4.97,-6.59556,complex_7.pdb,complex_8.pdb,5.523311,P00918,0,3ryj
3,LeDock,Smina,7,6,-4.97,-6.75185,complex_7.pdb,complex_6.pdb,5.458708,P00918,0,3ryj
4,LeDock,Smina,7,15,-4.97,-6.36851,complex_7.pdb,complex_15.pdb,5.093316,P00918,0,3ryj
...,...,...,...,...,...,...,...,...,...,...,...,...
33468,GOLD,Smina,4,19,74.01,-7.69393,complex_4.pdb,complex_19.pdb,18.198258,P10275,0,3b5r
33469,GOLD,Smina,4,5,74.01,-8.95127,complex_4.pdb,complex_5.pdb,15.604475,P10275,0,3b5r
33470,GOLD,Smina,4,12,74.01,-8.21080,complex_4.pdb,complex_12.pdb,17.042071,P10275,0,3b5r
33471,GOLD,Smina,4,9,74.01,-8.52211,complex_4.pdb,complex_9.pdb,13.739342,P10275,0,3b5r
33472,GOLD,Smina,4,4,74.01,-9.06451,complex_4.pdb,complex_4.pdb,15.696782,P10275,0,3b5r

In [11]:
# Sort Score1 and Score2 in ascending order
final_df_asc = final_df.sort_values(by=['Score1', 'Score2'], ascending=True)

# Sort Score1 and Score2 in descending order
final_df_desc = final_df.sort_values(by=['Score1', 'Score2'], ascending=False)

In [12]:
final_df_asc_score1 = final_df.sort_values(by=['Score1'], ascending=True)
final_df_asc_score2 = final_df.sort_values(by=['Score2'], ascending=True)
final_df_desc_score1 = final_df.sort_values(by=['Score1'], ascending=False)
final_df_desc_score2 = final_df.sort_values(by=['Score2'], ascending=False)

In [13]:
final_df_asc

,Tool1,Tool2,PoseNumber1,PoseNumber2,Score1,Score2,File1,File2,RMSD,uniprot,pocket_number,pdbcode
14740,LeDock,Smina,1,1,-10.13,-11.37804,complex_1.pdb,complex_1.pdb,6.753109,P56817,3,2vkm
14738,LeDock,Smina,1,2,-10.13,-11.37763,complex_1.pdb,complex_2.pdb,6.901691,P56817,3,2vkm
14741,LeDock,Smina,1,3,-10.13,-11.26524,complex_1.pdb,complex_3.pdb,6.948116,P56817,3,2vkm
14748,LeDock,Smina,1,4,-10.13,-10.32402,complex_1.pdb,complex_4.pdb,6.908566,P56817,3,2vkm
14745,LeDock,Smina,1,5,-10.13,-10.12300,complex_1.pdb,complex_5.pdb,6.893985,P56817,3,2vkm
...,...,...,...,...,...,...,...,...,...,...,...,...
15344,GOLD,Smina,3,1,109.49,-14.26232,complex_3.pdb,complex_1.pdb,6.702646,P07900,0,2yki
15343,GOLD,Smina,3,2,109.49,-14.20816,complex_3.pdb,complex_2.pdb,6.832554,P07900,0,2yki
15345,GOLD,Smina,3,3,109.49,-14.05362,complex_3.pdb,complex_3.pdb,6.909467,P07900,0,2yki
15347,GOLD,Smina,3,4,109.49,-13.93286,complex_3.pdb,complex_4.pdb,6.700237,P07900,0,2yki
15346,GOLD,Smina,3,5,109.49,-11.88688,complex_3.pdb,complex_5.pdb,7.285691,P07900,0,2yki

In [42]:
final_df['uniprot_pdbcode']= final_df['uniprot'] + '_' + final_df['pdbcode']
final_df.head()

,Tool1,Tool2,PoseNumber1,PoseNumber2,Score1,Score2,File1,File2,RMSD,uniprot,pocket_number,pdbcode,uniprot_pdbcode
15346,GOLD,Smina,3,5,109.49,-11.88688,complex_3.pdb,complex_5.pdb,7.285691,P07900,0,2yki,P07900_2yki
15347,GOLD,Smina,3,4,109.49,-13.93286,complex_3.pdb,complex_4.pdb,6.700237,P07900,0,2yki,P07900_2yki
15345,GOLD,Smina,3,3,109.49,-14.05362,complex_3.pdb,complex_3.pdb,6.909467,P07900,0,2yki,P07900_2yki
15343,GOLD,Smina,3,2,109.49,-14.20816,complex_3.pdb,complex_2.pdb,6.832554,P07900,0,2yki,P07900_2yki
15344,GOLD,Smina,3,1,109.49,-14.26232,complex_3.pdb,complex_1.pdb,6.702646,P07900,0,2yki,P07900_2yki

In [43]:
# For each unique uniprot_ligcode, how many rows showed an RMSD value lower than 2.0?
rmsd_counts = final_df[final_df['RMSD'] < 2.0].groupby('uniprot_pdbcode').size().reset_index(name='count')

In [44]:
rmsd_counts

   uniprot_pdbcode  count
0      O14757_1nvq     14
1      O14965_3e5a      7
2      O14965_3myg     10
3      O14965_3uo4      6
4      O60674_4e6q     45
5      O60674_4jia      4
6      O60885_4wiv     26
7      P00519_3pyy      4
8      P00519_4twp      3
9      P00749_1owh     11
10     P00918_2weg      1
11     P03372_1qkt      2
12     P03372_2p15      7
13     P03372_2pog     19
14     P03372_2qe4      6
15     P07900_1yc1     12
16     P07900_2yki      9
17     P10275_3b65     21
18     P11309_2c3i      2
19     P11309_3jya      8
20     P23458_4ivb      3
21     P23458_4ivc      3
22     P23458_4ivd      5
23     P23458_4k77     10
24     P24941_2xnb      3
25     P24941_4eor     11
26     P37231_2yfe     22
27     P37231_3b1m      9
28     P56817_4djv     21
29     Q08881_4m0y      3
30     Q16539_2zb1     35
31     Q16539_3e92      6
32     Q16539_3e93      5
33     Q16539_4f9w      9
34     Q9H2K2_4kzq      1
35     Q9H2K2_4kzu      3

In [45]:
# For each unique uniprot_ligcode, how many rows are between PoseNumber1 = 1 and PoseNumber2 = 1 and showed an RMSD value lower than 2.0?
pose_counts = final_df[(final_df['PoseNumber1'] == 1) & (final_df['PoseNumber2'] == 1) & (final_df['RMSD'] < 2.0)].groupby('uniprot_pdbcode').size().reset_index(name='count')

In [46]:
pose_counts

   uniprot_pdbcode  count
0      O14757_1nvq      3
1      O14965_3myg      1
2      O60674_4e6q      1
3      P03372_1qkt      1
4      P03372_2p15      3
5      P03372_2pog      3
6      P03372_2qe4      1
7      P07900_2yki      1
8      P23458_4ivb      1
9      P23458_4k77      1
10     P56817_4djv      1
11     Q16539_2zb1      1
12     Q16539_3e92      1
13     Q16539_4f9w      1
14     Q9H2K2_4kzu      1

In [47]:
# For each unique uniprot_ligcode, how many of them showed an RMSD value lower than 2.0 with at least three different Tool1 and Tool2 combinations? also add tool names to the df
tool_counts = final_df[final_df['RMSD'] < 2.0].groupby('uniprot_pdbcode').apply(lambda x: x[['Tool1', 'Tool2']].drop_duplicates().shape[0]).reset_index(name='unique_tool_combinations')

In [48]:
#add tool names to the df
tool_counts_withnames = (
    final_df[final_df['RMSD'] < 2.0]
    .groupby('uniprot_pdbcode')
    .apply(lambda x: pd.Series({
        'unique_tool_combinations': x[['Tool1', 'Tool2']].drop_duplicates().shape[0],
        'tool_names': x[['Tool1', 'Tool2']].drop_duplicates().values.tolist()
    }))
    .reset_index()
)

In [49]:
tool_counts_withnames

,uniprot_pdbcode,unique_tool_combinations,tool_names
0,O14757_1nvq,3,"[[GOLD, Smina], [LeDock, GOLD], [LeDock, Smina]]"
1,O14965_3e5a,1,"[[LeDock, GOLD]]"
2,O14965_3myg,1,"[[LeDock, GOLD]]"
3,O14965_3uo4,1,"[[LeDock, GOLD]]"
4,O60674_4e6q,3,"[[GOLD, Smina], [LeDock, Smina], [LeDock, GOLD]]"
5,O60674_4jia,1,"[[LeDock, GOLD]]"
6,O60885_4wiv,1,"[[LeDock, GOLD]]"
7,P00519_3pyy,1,"[[LeDock, GOLD]]"
8,P00519_4twp,1,"[[LeDock, GOLD]]"
9,P00749_1owh,1,"[[LeDock, GOLD]]"
10,P00918_2weg,1,"[[LeDock, Smina]]"
11,P03372_1qkt,1,"[[LeDock, Smina]]"
12,P03372_2p15,3,"[[GOLD, Smina], [LeDock, GOLD], [LeDock, Smina]]"
13,P03372_2pog,3,"[[GOLD, Smina], [LeDock, GOLD], [LeDock, Smina]]"
14,P03372_2qe4,1,"[[LeDock, GOLD]]"
15,P07900_1yc1,1,"[[LeDock, GOLD]]"
16,P07900_2yki,1,"[[LeDock, GOLD]]"
17,P10275_3b65,1,"[[LeDock, GOLD]]"
18,P11309_2c3i,2,"[[LeDock, Smina], [LeDock, GOLD]]"
19,P11309_3jya,1,"[[GOLD, Smina]]"
20,P23458_4ivb,1,"[[LeDock, GOLD]]"
21,P23458_4ivc,1,"[[LeDock, GOLD]]"
22,P23458_4ivd,1,"[[LeDock, GOLD]]"
23,P23458_4k77,2,"[[GOLD, Smina], [LeDock, Smina]]"
24,P24941_2xnb,1,"[[LeDock, GOLD]]"
25,P24941_4eor,1,"[[LeDock, GOLD]]"
26,P37231_2yfe,1,"[[LeDock, GOLD]]"
27,P37231_3b1m,1,"[[LeDock, GOLD]]"
28,P56817_4djv,2,"[[GOLD, Smina], [LeDock, Smina]]"
29,Q08881_4m0y,1,"[[LeDock, GOLD]]"
30,Q16539_2zb1,1,"[[LeDock, GOLD]]"
31,Q16539_3e92,1,"[[LeDock, GOLD]]"
32,Q16539_3e93,1,"[[LeDock, GOLD]]"
33,Q16539_4f9w,1,"[[LeDock, GOLD]]"
34,Q9H2K2_4kzq,1,"[[LeDock, Smina]]"
35,Q9H2K2_4kzu,1,"[[GOLD, Smina]]"

In [13]:
tool_counts

   uniprot_pdbcode  unique_tool_combinations
0      O14757_1nvq                         3
1      O14965_3e5a                         1
2      O14965_3myg                         1
3      O14965_3uo4                         1
4      O60674_4e6q                         3
5      O60674_4jia                         1
6      O60885_4wiv                         1
7      P00519_3pyy                         1
8      P00519_4twp                         1
9      P00749_1owh                         1
10     P00918_2weg                         1
11     P03372_1qkt                         1
12     P03372_2p15                         3
13     P03372_2pog                         3
14     P03372_2qe4                         1
15     P07900_1yc1                         1
16     P07900_2yki                         1
17     P10275_3b65                         1
18     P11309_2c3i                         2
19     P11309_3jya                         1
20     P23458_4ivb                         1
21     P23458_4ivc                         1
22     P23458_4ivd                         1
23     P23458_4k77                         2
24     P24941_2xnb                         1
25     P24941_4eor                         1
26     P37231_2yfe                         1
27     P37231_3b1m                         1
28     P56817_4djv                         2
29     Q08881_4m0y                         1
30     Q16539_2zb1                         1
31     Q16539_3e92                         1
32     Q16539_3e93                         1
33     Q16539_4f9w                         1
34     Q9H2K2_4kzq                         1
35     Q9H2K2_4kzu                         1

In [14]:
len(final_df['uniprot_pdbcode'].unique())

86

In [15]:
final_df.query('uniprot_pdbcode == "O14757_1nvq" & RMSD < 2.0').sort_values('RMSD')

,Tool1,Tool2,PoseNumber1,PoseNumber2,Score1,Score2,File1,File2,RMSD,uniprot,pocket_number,pdbcode,uniprot_pdbcode
22627,LeDock,GOLD,1,1,-7.80,79.98000,complex_1.pdb,complex_1.pdb,0.230581,O14757,0,1nvq,O14757_1nvq
22628,LeDock,GOLD,1,3,-7.80,80.50000,complex_1.pdb,complex_3.pdb,0.282592,O14757,0,1nvq,O14757_1nvq
22626,LeDock,GOLD,1,2,-7.80,80.36000,complex_1.pdb,complex_2.pdb,0.299610,O14757,0,1nvq,O14757_1nvq
22638,GOLD,Smina,3,1,80.50,-13.37878,complex_3.pdb,complex_1.pdb,1.333946,O14757,0,1nvq,O14757_1nvq
22634,GOLD,Smina,2,1,80.36,-13.37878,complex_2.pdb,complex_1.pdb,1.338011,O14757,0,1nvq,O14757_1nvq
22636,GOLD,Smina,1,1,79.98,-13.37878,complex_1.pdb,complex_1.pdb,1.346846,O14757,0,1nvq,O14757_1nvq
22632,LeDock,Smina,1,1,-7.80,-13.37878,complex_1.pdb,complex_1.pdb,1.361539,O14757,0,1nvq,O14757_1nvq
22624,LeDock,GOLD,2,1,-6.93,79.98000,complex_2.pdb,complex_1.pdb,1.480866,O14757,0,1nvq,O14757_1nvq
22623,LeDock,GOLD,2,2,-6.93,80.36000,complex_2.pdb,complex_2.pdb,1.496549,O14757,0,1nvq,O14757_1nvq
22625,LeDock,GOLD,2,3,-6.93,80.50000,complex_2.pdb,complex_3.pdb,1.511163,O14757,0,1nvq,O14757_1nvq
22630,LeDock,Smina,2,1,-6.93,-13.37878,complex_2.pdb,complex_1.pdb,1.859820,O14757,0,1nvq,O14757_1nvq
22633,GOLD,Smina,2,2,80.36,-11.95550,complex_2.pdb,complex_2.pdb,1.949803,O14757,0,1nvq,O14757_1nvq
22637,GOLD,Smina,3,2,80.50,-11.95550,complex_3.pdb,complex_2.pdb,1.962053,O14757,0,1nvq,O14757_1nvq
22635,GOLD,Smina,1,2,79.98,-11.95550,complex_1.pdb,complex_2.pdb,1.995221,O14757,0,1nvq,O14757_1nvq